@import "../../global.scss";

.intro {
  background-color: white;
  display: flex;
  align-items: center;
  .left {
    flex: 0.3;
    position: relative;
    

    @include mobile {
      flex: 0.5;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
     

      h1 {
        font-size: 50px;
        margin: 10px 0;

      }
      h2 {
        font-size: 30px;
      }
    }
  }

  .center {
    flex: 0.4;
    &::-webkit-scrollbar {
      display: none;

    }
    @include mobile {
      flex: 0.5;
    }
  }
  .imgContainer {
    display: flex;
    justify-content: center;
    height: 810px;

  }
  .right {
    flex: 0.3;
    justify-content: center;
    @include mobile {
      display: none;
    }
    h2 {
      margin-left: 10px;
    }

    h3 {
      font-size: 28px;
      animation: blink 3s infinite;
      margin-left: 10px;

      span {
        font-size: 28px;
        color: $mainColor;
      }
      @keyframes blink {
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    h4 {
      margin-left: 10px;
      padding-right: 90px;
    }
    @keyframes arrowBlink {
      100% {
        opacity: 0%;
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 30%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }
    }
  }
}
