@import "../../global.scss";

.portfolioList {
  height: 35px;
  width: 120px;
  font-size: 18px;
  text-align: center;
  margin-right: 30px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 16px;

  cursor: pointer;
  transition: all 0.3s;
  @include mobile{
    width: inherit;
    height: inherit;
    margin-right: 5px;
    flex-direction: auto;
  }


  &.active {
    background-color: $mainColor;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
}
